[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["all"], version = "*"}
requests = "*"
pymongo = "*"
pytest = "*"
python-jose = {extras = ["cryptography"], version = "*"}
passlib = {extras = ["bcrypt"], version = "*"}
pytest-cov = "*"
mypy = "*"
types-python-jose = "*"
types-passlib = "*"
types-requests = "*"
websockets = "*"
aio-pika = "*"

[dev-packages]

[requires]
python_version = "3.11"
